.App {
    text-align: center;
}

.App-logo {
    transform: rotate(-90deg);
    position: relative;
}

.App-logo:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    margin-left: -1px;
    background-color: darkslategray;
}

.App-header {
    background-color: slategray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: darkslategray;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
}
